My workflow (5).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3376,
        -1664
      ],
      "id": "7524a973-b62e-45e0-91e7-7605aae49772",
      "name": "Get a file",
      "webhookId": "06a6cc42-4bcb-45a8-95fe-1aff9d395dcc",
      "credentials": {
        "telegramApi": {
          "id": "qpglRzJ9EZPG8P4Z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -3136,
        -1664
      ],
      "id": "930ecd27-f0cb-4e48-b5f0-e5e8b121195a",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "cZ9FiE5y73MhSFcw",
          "name": "ElevenLabs account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}, {{ $json.result.file_id }}",
        "options": {
          "systemMessage": "You are a helpful assistant and very funny, but straight to the point no many words. You also do think and do research to avoid hallucinations and guess work.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2576,
        -1472
      ],
      "id": "53545cd4-c5a7-4adc-98d2-b37e7b9f0594",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2624,
        -1248
      ],
      "id": "d34bbc9b-53c5-4cc4-bc92-b28d3825bc4d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6TUQq4ypPwCMCitT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1808,
        -1552
      ],
      "id": "b80c9485-c086-4713-802d-6b0504ff0a3d",
      "name": "Send an audio file",
      "webhookId": "e8c11846-b3c3-481b-b7a7-2e6c3fdd4cd4",
      "credentials": {
        "telegramApi": {
          "id": "qpglRzJ9EZPG8P4Z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2016,
        -1552
      ],
      "id": "3e6e18f3-56fa-4e15-8769-0729e5f022db",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "6TUQq4ypPwCMCitT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "myfunnyassistant",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2448,
        -1264
      ],
      "id": "75c4c0b3-0fde-416c-a7a8-953d1f29c24f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4000,
        -1472
      ],
      "id": "741a1ceb-e5c7-4990-9334-b7b4f129b4c9",
      "name": "Telegram Trigger1",
      "webhookId": "8c51c253-1031-4c5f-aea6-4dee5ffae1d7",
      "credentials": {
        "telegramApi": {
          "id": "qpglRzJ9EZPG8P4Z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2016,
        -1344
      ],
      "id": "60ca6dbf-cdf8-497f-940e-323b000f3d29",
      "name": "send message",
      "webhookId": "e8c11846-b3c3-481b-b7a7-2e6c3fdd4cd4",
      "credentials": {
        "telegramApi": {
          "id": "qpglRzJ9EZPG8P4Z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3248,
        -1264
      ],
      "id": "d5b41a04-abbe-4aa3-ad51-6d506862b877",
      "name": "Get a file2",
      "webhookId": "06a6cc42-4bcb-45a8-95fe-1aff9d395dcc",
      "credentials": {
        "telegramApi": {
          "id": "qpglRzJ9EZPG8P4Z",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2816,
        -1472
      ],
      "id": "a95410b8-ed1e-45e5-97be-3c8e9d80471e",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputText": "I want you to classify the file ID",
        "categories": {
          "categories": [
            {
              "category": "audio file id",
              "description": "={{ $json.message.voice.file_id }}"
            },
            {
              "category": "image file id",
              "description": "={{ $json.message.photo[0].file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -3792,
        -1472
      ],
      "id": "bda4d8a3-e944-472a-bef0-afdfdd3c7c8d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3872,
        -1264
      ],
      "id": "31f3a8de-6549-4455-9c55-1ec30afd81b0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "6TUQq4ypPwCMCitT",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0a3f998-c236-4376-b089-7851b2903fcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f2ffe8c669d5ac881ed7e640b2f8b31687c27a88eab493080aad7c5a93a2138"
  },
  "id": "8lrTavbuzWIKOMXx",
  "tags": []
}